.jumbotron >h1 {
  font-size:28px;
}

h1 {
margin-left: 36%;
margin-right: 30%;
text-align: center;
}

img {
  margin-left: 37%;
}

h5 {
  font-weight: bold;
  font-size: 20px;
}

 p {
   text-align: center;
 }

 h2 {
   font-weight: bold;
 }

 h4{
   font-weight: bold;
   text-align: center;
 }

.header5 {
}

#happycustomers {
  margin: 0%;
  margin-left:
  text-align: center;
  padding:
  font-family: 'Alegreya', serif;
}

#feedback {
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.14);
}

#header {
  background-image: url(../images/backgrounds/landing.jpg);
  margin-left: 0%;
  margin-right: 0%;
  height: 580px;
  margin: auto;

}

#header2 {
  margin-top: 5%;
  margin-bottom: 20;
}

#header3 {
  margin-top: 40px;
}

.header4 {
  background-image: url(../images/backgrounds/foodsBg.jpg);
  background-size: cover;
  height: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 120px;
}

#menu {
  color: black;
  background-color: lightgrey;
  font-family: 'Alegreya', serif;
  justify-content: center;
}

#fastfood {
  color: #F15A29;
}

#menu1{
  margin-top: 5px;
}

#panel1{
  box-sizing: border-box;
  height: 300px;
  width: 1000px;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 0;

}

.header6 {
  background-image: url(../images/backgrounds/subscribe.jpg);
  background-size: cover;
  margin-top: 5%;
  height:250px;
}

.header7{
  background-color: #F15A29;
  height: 250px;
  width:1255px;
  text-align: center;
  color: white;
  font-family: 'Alegreya', serif;
  margin-bottom: 5px;
}

#info{
  text-align: center;
  font-size: 20px;
  font-family: 'Alegreya', serif;
  color: white;
}

#info{
  padding-left: 35%;
  padding-right: 33%;
  font-style: oblique;
}

#email{
  margin-left: 75%;
}

#row1 {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 1px;
}

#first {
  background-image: url(../images/foodtop/breakfast.jpg);
  height: 200px;
  font: bold;
}

#second{
  background-image: url(../images/foodtop/lunch.jpg);
  height: 200px;
  font-weight: bold;
}

#third {
  background-image: url(../images/foodtop/dinner.jpg);
  height: 200px;
  font-weight: bold;
}

#left {
  margin: auto;
  text-align: justify;
}

#split {
  display: flex;
  flex-direction: column;
}

#split1 {
  height: 100px;
  background-color: grey;
  font-weight: bold;
  margin: auto;
}

#split2{
  height: 100px;
  background-color:#F15A29;
}

#split3 {
  background-image: url(../images/fastFood1.jpg);
  background-size: cover;
  height:165px;
  width:520px;
}

#split4 {
  background-image: url(../images/fastFood2.jpg);
  background-size: cover;
  height:165px;
  width:520px;
}

#split5 {
  background-image: url(../images/drink1.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split6 {
  background-image: url(../images/drink2.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split7 {
  display: flex;
}

#split8 {
  background-image: url(../images/fastfood/beefBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split9 {
  background-image: url(../images/fastfood/chickenBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split10 {
  background-image: url(../images/fastfood/chickenPizza.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#media {

}

#image1{
  margin-left: 375px;
  padding-top: 5px;
}

#media1 {
    background-color: inherit;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left:605px;
}

#media2 {
  margin-left: 43%;
  margin-right: 43%;
  background-color: #F15A29;
}

#foot {
 font-size: 17px;
 padding-top: 50px;
}

#thick {
  box-sizing: border-box;
  border: 20px solid white;
  box-shadow: 1px 1px 1px 1px grey;
  margin-left:20px;
  height:370px;
  width:560px;

}
#thick1 {
  display: flex;
  box-sizing:border-box;
  border: 20px solid white;
  box-shadow: 1px 1px 1px 1px grey;
  margin-right: 20px;
}

#list {
  box-sizing: border-box;
  background-color: grey;
  font: black;
}

.side-nav {
  display: none;
  height:70%;
  width:25%;
  position:fixed;
  z-index:1;
  background-color: #F15A29;
  opacity: 1.3;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.5s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close{
  top:0;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width:50%;
}

.navbar {
  overflow: hidden;
  height:50px
}

#section3 >ul{
  background-color: grey;
  float:left;
  display:block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:17px;
}

.prev, .next {
  float: left;
  cursor: pointer;
}

.prev {
  width: 2%
  height: 2%;
}
.next {
  width: 2%;
  height: 2%;
}

.header7 >p {
  font-size: 15px;
}

#first >p{
  padding-top: 30%;
}

#second >p{
  padding-top: 30%;
}

#third >p{
  padding-top: 30%;
}

#split1 >p{
  padding-top: 50%;
}

#split2 >p{
  padding-top: 10%;
}

#row2 {
  box-sizing: border-box;
  border: 20px solid white;
  box-shadow: black;
  margin-left: 20px;
  margin-right: 20px;
}
