.jumbotron >h1 {
  font-size:28px
}

h1 {
  margin-left: 38%;
  margin-right: 33%;

}
img {
  margin-left: 35%;
}

h5 {
  font-weight: bold;
}
 p{
   text-align: center;
 }


#header {
  background-image: url(../images/backgrounds/landing.jpg);
  margin-left: 0%;
  margin-right: 0%;

}

#header2 {
  margin-top: 5%;
}

#header3 {
  margin-top: 40px;
}

#header4 {
  background-image: url(../images/backgrounds/foodsBg.jpg);
  margin-top: 40px;
  height: 400px;
}

#header5 {
  box-sizing: border-box;
  border: 20px solid yellow;
}

#header6 {
  margin-top: 75px;
}

#row1 {
  margin-top: -30px;
  margin-left: 5px;
  margin-right: 1px;
}

#first {
  background-image: url(../images/foodtop/breakfast.jpg);
  height: 200px;
}

#second{
  background-image: url(../images/foodtop/lunch.jpg);
  height: 200px;
}

#third {
  background-image: url(../images/foodtop/dinner.jpg);
  height: 200px;
}

#split1 {
  height: 100px;
  font-weight: bold;
  margin-right: 20%;
  margin-left:20%;
  text-align: justify;
}

#split2{
  height: 100px;
  background-color: orange;
}

#split3 {
  background-image: url(../images/fastFood1.jpg);
  background-size: cover;
  height:200px;
  width:545px;
}

#split4 {
  background-image: url(../images/fastFood2.jpg);
  background-size: cover;
  height:200px;
  width:545px;
}

#split5 {
  background-image: url(../images/drink1.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split6 {
  background-image: url(../images/drink2.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split7 {
  display: flex;
}

#split8 {
  background-image: url(../images/fastfood/beefBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split9 {
  background-image: url(../images/fastfood/chickenBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split10 {
  background-image: url(../images/fastfood/chickenPizza.jpg);
  background-size: cover;
  flex: 1;
  height: 250px;
}

#split11 {
  background-image: url(../images/backgrounds/subscribe.jpg);
  background-size: cover;
  height: 250px;
  font: green;
}

#split12 {
  background-color: red;
  height: 250px;
}

#thick {
  box-sizing: border-box;
  width: 50%;
  border: 20px solid white;
  content: 200px 200px;
  box-shadow: 1px 1px 1px 1px grey;

}
#thick1 {
  display: flex;
  box-sizing: border-box;
  border: 20px solid white;
  box-shadow: 1px 1px 1px 1px grey;
}

#list {
  box-sizing: border-box;
  background-color: grey;
  font: black;
}
