.jumbotron >h1 {
  font-size:28px;
}

h1 {
margin-left: 36%;
margin-right: 30%;
text-align: center;
}

img {
  margin-left: 37%;
}

h5 {
  font-weight: bold;
}

 p {
   text-align: center;
 }


#header {
  background-image: url(../images/backgrounds/landing.jpg);
  margin-left: 0%;
  margin-right: 0%;
  height: 580px;
  margin: auto;

}

#header2 {
  margin-top: 5%;
}

#header3 {
  margin-top: 40px;
}

#header4 {
  background-image: url(../images/backgrounds/foodsBg.jpg);
  margin-top: 40px;
  height: 400px;
}

#header5 {
  box-sizing: border-box;
  border: 20px solid yellow;
}

#header6 {
  margin-top: 75px;
}

#row1 {
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 1px;
}

#first {
  background-image: url(../images/foodtop/breakfast.jpg);
  height: 200px;
  font: bold;
}

#second{
  background-image: url(../images/foodtop/lunch.jpg);
  height: 200px;
  font-weight: bold;
}

#third {
  background-image: url(../images/foodtop/dinner.jpg);
  height: 200px;
  font-weight: bold;
}

#split {
  display: flex;
  flex-direction: column;
}

#split1 {
  height: 100px;
  font-weight: bold;
  margin: auto;
}

#split2{
  height: 100px;
  background-color: orange;
}

#split3 {
  background-image: url(../images/fastFood1.jpg);
  background-size: cover;
  height:200px;
  width:545px;
}

#split4 {
  background-image: url(../images/fastFood2.jpg);
  background-size: cover;
  height:200px;
  width:545px;
}

#split5 {
  background-image: url(../images/drink1.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split6 {
  background-image: url(../images/drink2.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
}

#split7 {
  display: flex;
}

#split8 {
  background-image: url(../images/fastfood/beefBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split9 {
  background-image: url(../images/fastfood/chickenBurger.jpg);
  background-size: cover;
  flex: 1;
  height: 200px;
}

#split10 {
  background-image: url(../images/fastfood/chickenPizza.jpg);
  background-size: cover;
  flex: 1;
  height: 250px;
}

#split11 {
  background-image: url(../images/backgrounds/subscribe.jpg);
  background-size: cover;
  height: 250px;
  font: green;
}

#split12 {
  background-color: red;
  height: 250px;
}

#thick {
  box-sizing: border-box;
  width: 50%;
  border: 20px solid white;
  content: 200px 200px;
  box-shadow: 1px 1px 1px 1px grey;

}
#thick1 {
  display: flex;
  box-sizing: border-box;
  border: 20px solid white;
  box-shadow: 1px 1px 1px 1px grey;
}

#list {
  box-sizing: border-box;
  background-color: grey;
  font: black;
}

.side-nav {
  height:70%;
  width:25%;
  position:fixed;
  z-index:1;
  background-color: #F15A29;
  opacity: 1.3;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.5s;
}

.side-nav a:hover {
  color: #fff;
}
